main {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    #box2 {
        display: flex;
        align-content: center;
        border: solid black 5px;
        margin-left: 50px;
        margin-right: 30px;
        /* justify-content: space-evenly; */
    }

    #box3 {
        margin: 0px;
        margin-left: 10%;
        margin-bottom: 50px;
    }

    #box5 {
        margin: 0;
        margin-right: 10%;
    }

    #box4 {
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
    }

    .boxes {
        height: 300px;
        width: 700px;
        margin-left: 10px;
        margin-right: 100px;
        border: solid aliceblue 4px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        margin-bottom: 70px;
        box-shadow: 0px 2px 2px 2px aliceblue;
        padding-top: 20px;
       
    }

    .boxes2 {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        align-items: center;
        background-color: rgb(22, 22, 240);
        margin-left: 40%;
    }