body{
    background-color: aqua;
    margin:0;
    padding:0;
    background:url('image.jpg') no-repeat;
    background-size:cover;
}
html,*{
     margin:0 ;
     padding:0 ;
     box-sizing: border-box;
}
p{
    font-family:arial;
    color: aliceblue;
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    text-transform:uppercase ;
    text-shadow: 3px 0px 10px white;
    display:inline-block;
}
#para{
    color: aquamarine;
}
img{
    float:right;
    margin-right: 20px;
    border: 10px; solid: #999;
    border-radius: 50%;
}
